.Main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Main-button {
  position: fixed;
  bottom: 40px;
  right: 50px;
}
